.spotted {
    margin-top: 20px;
}

.spot-card {
    width: 350px;
    height: 300px;
    display: flex;
    flex-direction: column;
}

.spot-card img {
    width: 350px;
    height: 300px;
}

.aligned {
    display: flex;
    font-size: 14pt;
    width: 100%;
}

.average-rating {
    display: flex;
    justify-self: flex-end;
}

.spots-board {
    display: inline-flex;
    gap: 30px;
    flex-wrap: wrap;
}

@media screen and (min-width: 1500px) {
    .spot-card {
        width: 23%;
        height: 20%;
        gap: 30px;
    }
}
