.spotted {
    margin-top: 20px;
}

.spot-card {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    box-sizing: border-box;
    width: 20vw;
    min-width: 200px;
}

.spot-card img {
    width: 20vw;
    height: 20vw;
    min-width: 200px;
}

.aligned {
    display: flex;
    font-size: 14pt;
    width: 100%;
}

.average-rating {
    display: flex;
}

.card-location {
    width: 85%;
}

.spots-board {
    box-sizing: border-box;
    /* border: 3px solid green; */
    display: flex;
    justify-content: flex-start;
    gap: 1vw;
    flex-wrap: wrap;
    width: 90vw;
}

.border-holder {
    display: flex;
    justify-content: center;
    /* border: 2px red solid; */
}

.images-box {
    width: 85vw;
    height: 30vw;
    display: flex;
    box-sizing: border-box;
    gap: 1vh;
}

.main-pic {
    height: 100%;
    width: 41vw;
}

.support-pics {
    height: 49%;
    width: 21vw;
}

.images-box-internal {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 43vw;
    gap: 1vh;
}

.reserve-box {
    margin: 5px 5px 5px 0px;
    border: 4px solid rgb(58, 20, 20);
    width: 325pt;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: auto;
}

.bottom-spot {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgb(58, 20, 20);
}

.top-row-box {
    margin: 7px 7px 0px 7px;
    display: flex;
    width: 90%;
    flex-direction: row;
    justify-content: center;
    gap: 7px;
    position: relative;
    top: 7%;
}

.format-me {
    margin: 0px, 5vw, 0vw, 5vw;
    /* border: red 2px solid; */
}

.reserve-a-spot {
    margin-top: auto;
    margin-bottom: 5px;
    color: rgb(58, 20, 20);
    background-color: #9ae17b;
    width: 85%;
}

.longer-description {
    text-align: center;
}

.title-page-position {
    margin-left: 10pt;
}

.description-box {
    font-size: 14pt;
    box-sizing: border-box;
}

.spot-host .description-box {
    width: 55vw;
    margin-left: 12pt;
}

.spot-host {
    font-size: 14pt;
}

.price-align {
    display: flex;
}

.reviews {
    font-size: 12pt;
    margin-left: 5pt;
}

.reviews-name {
    font-weight: 600;
}

.form-change {
    display: flex;
    gap: 1%;
    width: inherit;
}

.city {
    width: 70%;
}

.state {
    width: fit-content;
}

.comma {
    position: relative;
    top: 25px;
}

.line {
    border-bottom: 2px lightgray solid;
}

.review-line {
    display: flex;
    gap: 1%;
}

.dot {
    font-size: 30pt;
    position: relative;
    bottom: 25px;
}

.review-organizer {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.review-organizer button {
    width: 25%;
}
