.spotted {
    margin-top: 20px;
}

.spot-card {
    border: 2px black solid;
    border-width: 20%;
    display: flex;
    flex-direction: column;
}

.spot-card img {
    width: 325px;
    height: 325px;
    min-width: 200px;

}

.aligned {
    display: flex;
    font-size: 14pt;
    width: 100%;
}

.average-rating {
    display: flex;
    justify-self: flex-end;
}

.spots-board {
    box-sizing: border-box;
    display: flex;
    gap: 2%;
    flex-wrap: wrap;
}

.images-box {
    width: 300px;
    height: 150px;
    display: flex;
    border: 2px red solid;
}

.main-pic {
    height: 150px;
    width: 150px;
}

.support-pics {
    height: 75px;
    width: 75px;
}

.images-box-internal {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 150px;
    height: 150px;
}
