/* TODO Add site wide styles */
html {
    color: rgb(58, 20, 20);
    font-size: 14pt;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

button {
    color: #9ae17b;
    font-size: 14pt;
    text-align: center;
}

Link {
    color: rgb(58, 20, 20);
    text-decoration: none;
}

a {
    color: rgb(58, 20, 20);
    text-decoration: none;
}

.errors {
    color: red;
    font-size: 10pt;
}
