/* TODO Add site wide styles */
html {
    color: rgb(58, 20, 20);
    font-size: 14pt;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    /* background-color: #A9876F; */
    /* background-color: #8B6B61; */
    /* background-color: #D2B48C; */
    /* background-color: #519872; */
    /* background-color: #669966; */
    /* background-color: #93C572; */
    /* background-color: #D8D8D8; */
    /* background-color: #EAEAEA; */
    /* background-color: #F5F5F5; */
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../public/assets/grass-ground.jpg");
    background-size: 100vw, 350%;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    color: rgb(58, 20, 20);
    background-color: #9ae17b;
    font-size: 14pt;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    box-shadow: 2px 2px rgb(58, 20, 20);
}

Link {
    color: rgb(58, 20, 20);
    text-decoration: none;
}

form {
    box-sizing: border-box;
}

form h2 {
    text-align: center;
}

.formatter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: fit-content;
    margin: 10px 25%;
}

.formatter h2 {
    text-align: center;
}

.formatter h3 {
    text-align: left;
}

a {
    color: rgb(58, 20, 20);
    text-decoration: none;
}

input {
    width: 97%;
}

.errors {
    color: red;
    font-size: 10pt;
}

.edit-images img {
    width: 50px;
    height: 50px;
}

img {
    border-radius: 5%;
}

.cancel-button button {
    background-color: lightgrey;
    width: 95%;
}

.delete-buttons button {
    width: 95%;

}

.modal-content {
    text-align: center;
}

.modal-backround {
    margin: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.i {
    display: flex;
    flex-direction: row;
}

.wrap-break {
    word-wrap: break-word;
}

.review-holder {
    /* border: 2px solid red; */
    margin-left: 20px;
    margin-bottom: 10px;
}


.button-holders {
    margin-top: 5px;
    margin-left: 20px;
    display: flex;
    gap: 10px;
}

.oval-button-gray {
    color: rgb(58, 20, 20);
    background-color: white;
    pointer-events: none;
    opacity: 0.6;
    margin-top: auto;
    margin-bottom: 5px;
    width: 85%;
    cursor: not-allowed;
}

.oval-button-gray-variable {
    color: rgb(58, 20, 20);
    background-color: white;
    /* pointer-events: none; */
    opacity: 0.6;
    margin-top: auto;
    margin-bottom: 5px;
    width: 85%;
    cursor: not-allowed;
}

.all-base {
    min-height: 80vh;
}

.big-searcher {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.big-searcher input {
    width: 60vw;
    height: 30px;
    border-radius: 10px;
    margin-top: 15px;
}

.holder {
    /* border: red solid 2px; */
    display: flex;
    justify-content: center;
}

.search-field {
    display: flex;
}

.magnifier {
    position: relative;
    right: 30px;
    top: 20px;
}

.result-tree {
    /* border: blue 2px solid; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 60vw;
}

.search-bar {
    display: flex;
    flex-direction: row;
    position: relative;
}

.search-button {
    height: 30px;
    position: relative;
    top: 15px;
}
