.hidden {
    display: none;

}

.top {
    z-index: 50;
}

.nameLogo>img {
    height: 50px;
}

.header {
    padding-left: 20px;
    padding-right: 20px;
    height: 70px;
    width: 100%;
    color: rgb(58, 20, 20);
    font-size: 24pt;
    font-weight: bold;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    border-bottom: solid lightgray 2px;
    align-items: center;
}

.right-header {
    display: flex;
    margin-right: 30px;
    gap: 10rem;
}
