.hidden {
    display: none;
}

.top {
    z-index: 50;
}

.nameLogo>img {
    height: 50px;
}

.nameLogo {
    display: flex;
    align-items: center;
}

.header {
    position: sticky;
    padding-left: 20px;
    padding-right: 20px;
    height: 70px;
    width: 100%;
    color: rgb(58, 20, 20);
    font-size: 24pt;
    font-weight: bold;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    border-bottom: solid lightgray 2px;
    align-items: center;
}

.right-header {
    display: flex;
    margin-right: 30px;
    gap: 17rem;
}

.navbar {
    display: flex;
    align-content: center;
}

.profile-dropdown {
    position: absolute;
    background-color: white;
    padding: 3px;
    right: 5%;
    top: 85%;
    border: 2px solid black;
    text-align: center;
}

.current-user {
    text-decoration: none;
    color: rgb(58, 20, 20);
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    display: flex;
    width: 100%;
    justify-content: center;
}
